
strong {
    position: relative;
  }
strong::before {
    /* Highlight color */
    background-color: #36dddd;
  
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 50%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-.95deg);
  }
  main{
      display: flex;
      flex-direction: column;
  }
  .main_norm_docs_wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 75px;
    display: none;
}
  .main_menu_wrapper{
      display: flex;
      flex-direction: column;
      align-items:center;
  }
  .main_menu_text_content{
      align-self: center;
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 40px;
  }
  .main_title{
    
    margin-left: 4em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    /* identical to box height */

    /* Black tub */
    color: #131313;


}

  .main_menu_buttons{
      align-self: center;
      display: flex;
      list-style-type: none;
      gap: 15px;
  }
  .main_menu_item{
        list-style: none;
        text-decoration-line: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #505050;
        transition: 0.7s ease;
        cursor: pointer;
        background: #F6F6F6;
        border-radius: 5px;
        padding: 11px 20px 11px 20px
    }

 .main_menu_item:hover{
    color: dodgerblue;
}
.main_menu_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    /* or 150% */

    /* Gray tub */
    color: #505050;
    max-width: 580px;
    max-height: 294px;
}

.main_menu_text:nth-of-type(1){
    max-width: 580px;
    max-height: 210px;
}
.main_menu_sign{
    margin-top: 30px;
    align-self: center;
    padding: 30px;
    background: #25B0DB;
    border-radius: 5px;
}
.main_sign_text{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    /* or 133% */

    color: #FFFFFF;


}
.main_menu_banner{
    align-items: center;
    margin-top: 30px;
    align-self: center;
    display: flex;
    gap: 21px;
}
.main_banner_text{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    /* or 133% */

    /* Black tub */
    color: #131313;
}
.main_menu_item_active{
    background: #25B0DB;
}

.main_structure_wrapper{
    display: flex;
    flex-direction: column;
    display: none;
}
.main_structure_title{
    margin-left: 4em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    /* Black tub */
    color: #131313;
}
.main_structure_items{
    margin-left: 5em;
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
}

.main_structure_item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width:min-content;
    max-height:min-content;
    background: #F6F6F6;
    border-radius: 5px;
}
.main_structure_title_item{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    align-self: flex-start;
    /* or 117% */

    /* Black tub */
    color: #131313;


}

.main_structure_img{
    max-width: 286px;
    max-height: 286px;
}
.main_structure_descr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    /* or 129% */

    /* Gray tub */
    color: #505050;
}

.main_structure_mobiles{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: center;
    gap: 30px;
    max-width: 1200px;
}
.main_structure_mobile{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    max-width: 285px;
}
.main_mobile_descr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    /* or 150% */

    /* Black tub */
    color: #131313;


}
.main_mobile_descr a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    /* or 150% */

    /* Black tub */
    color: #131313;

}
.main_mobile_num{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    /* identical to box height, or 117% */

    /* Blue tub */
    color: #25B0DB;


}
.modal {
    align-self: center;
    align-items: center;
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width:1200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(34, 34, 34, 0.15);
    border-radius: 5px;
    display: flex;
    gap: 31px;
  }

  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_descr{
      display: flex;
      flex-direction: column;
  }
  .modal_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;
    
    /* identical to box height, or 88% */
    
    /* Black tub */
    color: #131313;
    
  }
  .modal_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    
    /* identical to box height, or 129% */
    
    /* Gray tub */
    color: #505050;
  }
  .show{
      display: block;
  }
  .hide{
      display: none;
  }
  .modal-content img {
    min-height: min-content;
    width:285px;;
  }
  .main_content_descr{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  .main_section_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    /* Black tub */
    color: #131313;
  }
  .main_content_titles{
      display: flex;
      align-items: center;
      gap: 11px;
      margin-left: 4em;
  }
  .main_descr_wrapper{
      display: flex;
      flex-direction: column;
    align-self: center;
    max-width: 1200px
  }
 
  .main_section_img{
    min-height: 200px;
    min-width: 200px;
    max-width: 285px;
    max-height: 285px;
    background-color: #DEDEDE;;
    border-radius: 5px 5px 0px 0px;
  }
  .main_section_items{
      margin-left: 5em;
      gap: 20px;
      display: flex;
      margin-bottom: 75px;
  }
  .main_wrapper{
      align-self: center;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 20px;
  }
  .main_map_wrap{
    display: flex;
  }
  .main_map_items{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .main_map_box{
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      position: absolute;
      z-index: 1;
  }
  .main_map_item{
    display: flex;
    flex-direction: column;
  }
  .main_description{
      display: flex;
      flex-direction: column;
  }
  .main_bg_photo{
    min-height: 384px;
    min-width: 1440px;
  }
  .map_title{
      align-self: flex-start;
  }
  .main_content_description{
      margin-top: 100px;
      display: flex;
      flex-direction: column;
  }
 
  .title_name{
      align-self: flex-start;
  }
  @media(max-width:800px){
      .main_structure_title{
          margin: 0;
      }
      .main_content_descr{
          align-items: center;
      }
      .main_section_items{
          margin: 0;
      }
      .main_content_titles{
          margin-left: 1em;
      }
      .main_structure_items{
          align-self: center;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
      .main_structure_img{
          max-width: 200px;
          max-height: 200px;
      }
      .main_menu_buttons{
          flex-direction: column;
      }
      .main_menu_item{
         padding: 10px 16px 7px 16px;
      }
      .main_title{
          margin-left: 1em;
      }
      .modal-content{
          margin: 55% auto;
          flex-direction: column;
        }
      .modal_descr > *{
          font-size: 11px;
      }
      .main_menu_text_content{
          flex-direction: column;
      }
      .main_menu_text{
        min-height:100px
    }
      .modal-content img {
        max-width: 200px;
        max-height: 200px;
      }
      .main_section_items{
          flex-direction: column;
      }
  }
  @media(max-width:344px){
      .main_menu_text_content{
        align-self: flex-start;
        flex-direction: column;
    }
    .modal{
        width: 50%;
        height: 50%;
    }
    .main_menu_buttons{
        align-self: flex-start;
    }
    .main_menu_sign{
        margin-top: 30px;
        padding: 8px;
        font-size: 12px;
    }
      .main_menu_text{
        font-size: 9px;
         min-height: 400px;
      }
      .main_banner_text{
          font-size: 18px;
      }
      .main_structure_title{
          margin: 0;
      }
      .main_section_img{
        min-height: 150px;
        min-width: 150px;
        max-width: 200px;
        max-height: 200px;
        background-color: #DEDEDE;;
        border-radius: 5px 5px 0px 0px;
      }
  }

  